/**
 * File:  albumSelectionForm.scss
 *
 * Description:  Styling for the form that changes the photo album.
 */

div.input
{
	white-space: nowrap;
	width: 20%;

	background-image: linear-gradient(rgba(250, 250, 210, 1.0), rgba(128, 128, 128, 1.0));

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	//  Put the form at the top right of the screen and keep it there
	position: fixed;
	top: 0px;
	right: 2%;

	z-index: 100;

	//  Shrink the form to fit the content and add some buffer size around
	//  the elements.  The form is small, so a little spacing makes a world
	//  of difference.
	form.album-selection-form
	{
		width: fit-content;
		margin-right: 2%;
		margin-left: auto;

		padding-left: 5%;
		padding-right: 5%;
		padding-top: 1%;
		padding-bottom: 1%;

		label, input, button
		{
			font-family: "Garamond", Georgia, "Times New Roman", Times, serif;
			font-size: 10pt;
		}

		label
		{
			margin-right: 5px;
		}

		input[type="number"]
		{
			text-align: right;
			max-width: 50px;
		}
	}
}
